:root {
  --cor-primaria: #ecf39e;
  --cor-secundaria: #90a955;
  --cor-terciaria: #4f772d;
  --cor-quarta: #31572c;
  --cor-cinco: #132a13;

  --cor-primaria-clara: #f3f7c9;
  --cor-primaria-escura: #c5d97f;
}
